@page "/"
@using WebApp.Client.Components
@using WebApp.Client.Services
@using System.Security.Claims
@inject HttpClient HttpClient
@inject ProjectService ProjectService
@inject UserService UserService
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>

<style>
.center {
  margin: auto;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>

<AuthorizeView>
    <Authorized>
        
    <style>
        body { background: white !important; }
    </style>
    <div style="text-align: center;">
        <h1>Projekty</h1>
        @if (admin)
        {
            <button type="submit" id="submit" class="button mainaction submit btn btn-primary btn-lg text-uppercase w-30" @onclick="() => ModalDialog.Open()">Kliknij, aby dodać nowy projekt</button>
            <ModalDialog @ref="ModalDialog" Title="Hello World">
                <div class="row">
                    <h3>Lorem Ipsum</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel ultricies sapien. Duis nec nunc erat. Vivamus eget sem tristique, lacinia mi id, cursus eros.</p>
                    <button class="btn btn-primary"  @onclick="() => ModalDialog.Close()">Close</button>
                </div>
            </ModalDialog>
        }
    </div>
    
    
@userName <br/>


@data
    </Authorized>
    <NotAuthorized>
            <style>
                body { background: red !important; }
            </style>
        <div class="center">
            <img src="/Res/sotp.png" id="sotp" width="90%" height="90%">
        </div>
    </NotAuthorized>
</AuthorizeView>


@code{
    
    public static bool admin = true;
    public string userName = "";

    @code {
        private ModalDialog ModalDialog { get; set; }
    }
    
    public string data = "";

    protected override async Task OnInitializedAsync()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var thing = state.User.Claims.SingleOrDefault(c => c.Type == ClaimTypes.Name)?.Value;
        if (!string.IsNullOrEmpty(thing))
        {
            data = thing;
        }
        var projects = await ProjectService.GetProjectsAsync();
        
        foreach (var project in projects)
        {
            data += project.ProjectName + " | ";
        }

        var authTest = await UserService.AuthTest();
        Console.WriteLine(authTest);
    }

}