@page "/Logout"
@using WebApp.Client.Services
@inject NavigationManager NavigationManager
@inject UserService UserService
<h3>Logout</h3>
@code {
    protected override async Task OnInitializedAsync()
    {
        await UserService.Logout();
        NavigationManager.NavigateTo("/");
    }
}