@*<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>*@

<AuthorizeView>
    <Authorized>
        <a href="Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="LogOut">
            <button type="submit" class="nav-link btn btn-link">Wyloguj się</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Register">Rejestracja</a>
        <a href="Login">Logowanie</a>
    </NotAuthorized>
</AuthorizeView>