@page "/counter"

<PageTitle>Dummy Login Checker</PageTitle>

<h1>Dummy Login Checker</h1>

<p role="status">Logged In: @Index.logged</p>

<button class="btn btn-primary" @onclick="Toggle">Click me</button>

@code {

    private void Toggle()
    {
        Index.logged = !Index.logged;
    }

}