@page "/Login"
@using WebAppSzczegielniak.Data

<PageTitle>Le Epic Lonig Paeg</PageTitle>

<head>
<style>
.center {
  margin: auto;
  width: 30%;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>
<div class="center">
    
    <img src="/Res/krater.png" id="logo" alt="Gąsienica paląca papierosa" width="200px" height="267px">
    
    <EditForm Model="@user" OnValidSubmit="@LoginUser">
        <DataAnnotationsValidator />
    
        <div class="form-group">
            <InputText @bind-Value="user.Username" class="form-control" placeholder="Nazwa Użytkownika" />
            <ValidationMessage For="@(() => user.Username)" />
        </div>
    
        <div class="form-group">
            <InputText @bind-Value="user.Password" type="password" class="form-control" placeholder="Hasło" />
            <ValidationMessage For="@(() => user.Password)" />
        </div>
        <br />
         <p class="formbuttons"><button type="submit" id="submit" class="button mainaction submit btn btn-primary btn-lg text-uppercase w-100">Zaloguj</button>
        </p>
        <br />
    </EditForm>
    <br />
</div>
</body>



@code {
    private User user = new User();

    private async Task LoginUser()
    {
        
    }

}