@using WebApp.Client.Authentication
@using System.Security.Claims
@inherits LayoutComponentBase
@inject ApiAuthenticationStateProvider AuthenticationStateProvider
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <NavLink href="login">Login</NavLink>
            <NavLink href="register">Register</NavLink>
            <NavLink href="logout">Logout</NavLink>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var claimEmail = state.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email);
            if (claimEmail != null)
            {
                AuthenticationStateProvider.MarkUserAsAuthenticated(claimEmail.Value);
            }
        }

    }
}
